<html>
  <head>
    <meta charset="utf-8" />
    <title>Projet formulaire</title>
  </head>
  <body>

    <form id="form_register" action="/register" method="post">
      <div>
        <label for="nom">Nom : </label>
        <input type="text" name="lastname" id="lastname"/>
      </div>
      <div>
        <label for="nom">Prenom : </label>
        <input type="text" name="firstname" id="firstname"/>
      </div>
      <div>
        <label for="nom">Adrese : </label>
        <input type="text" name="address" id="address"/>
      </div>
      <div>
        <label for="nom">Pseudo : </label>
        <input type="text" name="pseudo" id="pseudo"/>
      </div>
      <div>
        <label for="nom">Email : </label>
        <input type="text" name="email" id="email"/>
      </div>
    </form>
    <input type="submit" value="Enregister">
    <p id="response"></p>

  </body>
</html>
