<html>
<head> Projet formulaire</head>
  <body>
    <form action="/bonjour" method="post">
      <div>
        <label for="nom">Nom : </label>
        <input type="text" name="lastname" />
      </div>
      <div>
        <label for="nom">Prenom : </label>
        <input type="text" name="firstname"/>
      </div>
      <div>
        <label for="nom">Adrese : </label>
        <input type="text" name="address"/>
      </div>
      <div>
        <label for="nom">Pseudo : </label>
        <input type="text" name="pseudo"/>
      </div>
      <div>
        <label for="nom">Email : </label>
        <input type="text" name="email"/>
      </div>
    </form>
    <button type="button" onclick="">Enregistrer</button>
    <script>
    </script>
  </body>
</html>
